# Complete Python Basic to Advance Interview Questions by Jeevan Raj

# Content

1. Get Starged with Python
2. Python Statements
3. Python Comments
4. Python Keywords
5. Python Operators
6. Python Variables
7. Python Data Types
8. Python Casting (type conversion)
9. Python input and output
10. Control flow statements
11. Python for loop
12. Python range() user defiend function
13. python while loop
14. Break and Continue
15. Print pattern in python


Basic Python Exercise for beginners
Basic Python Quiz for Beginners
Python Loop Exercise

#### Python Basic Exercise for Beginners
(This Python Exercise covers questions on the following topics)
1. for Loop and While loop
2. List, Set, Tuple, Dictionary, Input and Output

### Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
def mulsum(a,b):
    if a*b<=1000:
        print(f'The Result is {a*b}')
    else:
        print(f'The Result is {a+b}')
mulsum(20,30)

The Result is 600

In [ ]:
mulsum(60,40)

The Result is 100

### Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [ ]:
print('Printing Current and Previous number sum in a range(10)')

previous=0
for i in range(10):
    print(f'Current Number {i} Previous Number {previous} sum: {i+previous}')
    previous=i

Printing Current and Previous number sum in a range(10)
Current Number 0 Previous Number 0 sum: 0
Current Number 1 Previous Number 0 sum: 1
Current Number 2 Previous Number 1 sum: 3
Current Number 3 Previous Number 2 sum: 5
Current Number 4 Previous Number 3 sum: 7
Current Number 5 Previous Number 4 sum: 9
Current Number 6 Previous Number 5 sum: 11
Current Number 7 Previous Number 6 sum: 13
Current Number 8 Previous Number 7 sum: 15
Current Number 9 Previous Number 8 sum: 17

### Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "Imarticus" so you should display ‘I’, ‘a’, ‘t’, ‘c’,'s'.

In [1]:
institute='Edunet'
for i in institute[::2]:
    print(i)

E
u
e

In [2]:
institute[::2]

'Eue'

### Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:



Note: n must be less than the length of the string.

In [3]:
def remove_chars(a,n):
    print(a[n:])
remove_chars('Edunet',4)

et

In [4]:
remove_chars('Edunet',2)

unet

### Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Given
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def check(a):
    if a[0]==a[-1]:
        print('Result is True')
    else:
        print('Result is False')

check(numbers_x)

Result is True

In [ ]:
check(numbers_y)

Result is False

### Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

Given list is  [10, 20, 33, 46, 55]

In [ ]:
# using for loop
lis= [10, 20, 33, 46, 55]
for i in lis:
    if i%5==0:
        print(i)

10
20
55

In [ ]:
# will perform using list comprehension
lis= [10, 20, 33, 46, 55]
output=[i  for i in lis if i%5==0]
print(output)

[10, 20, 55]

### Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Jeevan” appears in the given string.

In [5]:
str_x = "Adhrsh is Data Scientist. And Adharsh is Data science coach as well"
print(f'Adharsh appeared {str_x.count("Adharsh")} times')

Adharsh appeared 1 times

### Exercise 8: Print the following pattern

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(5):
    for j in range(i+1):
        print(i+1,end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [ ]:
# Simple way of writing the code

def palindrome(a):
    print(f'Original Number {a}')
    if a==int(str(a)[::-1]):
        print('Yes. Given Number is Palindrome Number')
    else:
        print('No. Given Number is Not Palindrome Number')

palindrome(121)
palindrome(125)
palindrome(545)

Original Number 121
Yes. Given Number is Palindrome Number
Original Number 125
No. Given Number is Not Palindrome Number
Original Number 545
Yes. Given Number is Palindrome Number

In [ ]:
# Or you can write the code in different way as well

def palindrome(number):
    print(f'Original Number {number}')
    original_num=number

    # Now will reverse the given number
    reverse_num=0
    while number>0:
        reminder=number%10
        reverse_num=(reverse_num*10)+reminder
        number=number//10

    # check numbers
    if original_num ==reverse_num:
        print('Given Number is Palindrome')
    else:
        print('Given Number is Not Palindrome')

palindrome(121)
palindrome(125)
palindrome(545)

Original Number 121
Given Number is Palindrome
Original Number 125
Given Number is Not Palindrome
Original Number 545
Given Number is Palindrome

### Exercise 10: Create a new list from a two list using the following condition
    
Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

output=[]
for i in list1:
    if i%2!=0:
        output.append(i)
for j in list2:
    if j%2==0:
        output.append(j)
print(f'result list : {output}')

result list : [25, 35, 40, 60, 90]

### Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
a=7536
' '.join(str(a)[::-1])

'6 3 5 7'

In [ ]:
'and'.join(str(a)[::-1])

'6and3and5and7'

### Exercise 12: Calculate income tax for the given income by adhering to the below rules

![image.png](attachment:image.png)

### Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [ ]:
def tax_payable(a):
    if a>20000:
        print((a-20000)*.20+(10000*.1))
    elif a<20000 and a>10000:
        print(a*.1)
    else:
        print(0)
tax_payable(45000)

6000.0

### Exercise 13: Print multiplication table form 1 to 10

In [ ]:
n= int(input('enter a number'))
for i in range(1,11):
    print(f'{i} * {n}= {i*n}')

enter a number9
1 * 9= 9
2 * 9= 18
3 * 9= 27
4 * 9= 36
5 * 9= 45
6 * 9= 54
7 * 9= 63
8 * 9= 72
9 * 9= 81
10 * 9= 90

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=' ')
    print(' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5):
    for j in range(5-i):
        print('*',end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

### Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

In [ ]:
def exponent(base,exp):
    print(f'{base} raises to the power of {exp} = {base**exp}')
exponent(2,5)

2 raises to the power of 5 = 32

## Python Input and Output Exercise

### Exercise 1: Accept numbers from a user
Write a program to accept two numbers from the user and calculate multiplication

In [ ]:
a=int(input('Enter the number'))
b=int(input('Enter the number'))
print('The Output is =', a*b)

Enter the number10
Enter the number12
The Output is = 120

### Exercise 2: Display three string “Name”, “Is”, “Jeevan” as “Name** Is **Jeevan”

In [ ]:
data=('Name','is','Jeevan')
print('**'.join(data))

Name**is**Jeevan

### Exercise 3: Convert Decimal number to octal using print() output formatting

In [ ]:
# This is one way of writing
num=8
oct(num)

'0o10'

In [ ]:
# you can use different methods to print it
num=8
print('%o' %num)

10

### Exercise 4: Display float number with 2 decimal places using print()

In [ ]:
num=232.355930
print(round(num,2))

232.36

### Exercise 5: Accept a list of 5 float numbers as an input from the user

In [ ]:
lis=[]
for i in range(5):
    lis.append(float(input('enter the number')))
print(lis)

enter the number12.44
enter the number234.55
enter the number232.5
enter the number882.0
enter the number34
[12.44, 234.55, 232.5, 882.0, 34.0]

### Exercise 6: Accept any three string from one input() call

In [ ]:
# will seperate using ","
str1,str2,str3=input('Enter the Name').split(',')
print('Name 1 =',str1)
print('Name 2 =',str2)
print('Name 3 =',str3)

Enter the NameJeevan, Navya,Kavya
Name 1 = Jeevan
Name 2 =  Navya
Name 3 = Kavya

### Python if else, for loop, and range() Exercises with Solutions

### Exercise 1: Print First 10 natural numbers using while loop

In [ ]:
a=1
while a<11:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [ ]:
def summing(a):
    output=0
    for i in range(1,a+1):
        output+=i
    print(output)
summing(10)

55

### Exercise 4: Write a program to print multiplication table of a given number

In [ ]:
inp=int(input('Enter the number you want to be multiplied'))
for i in range(1,11):
    print(i*inp)

Enter the number you want to be multiplied2
2
4
6
8
10
12
14
16
18
20

### Exercise 4: Write a program to print multiplication table of a given number
Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i>=500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

### Exercise 6: Count the total number of digits in a number
For example, the number is 75869, so the output should be 5.

In [ ]:
a=75869
count=0
while a>0:
    count+=1
    a//=10
print(count)

5

### Exercise 7: Print the following pattern

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i in range(5):
    for j in range(5-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Exercise 8: Print list in reverse order using a loop

In [ ]:
# Now will use inbuilt function called reverse
list1 = [10, 20, 30, 40, 50]
list1.reverse()
list1

[50, 40, 30, 20, 10]

In [ ]:
# we can perform the same using for loop
list1 = [10, 20, 30, 40, 50]
output=[i  for i in list1[::-1]]
print(output)

[50, 40, 30, 20, 10]

### Exercise 9: Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [ ]:
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

### Exercise 11: Write a program to display all prime numbers within a range

for example the range is
start = 25
end = 50

In [ ]:
start=25
stop=50
print('Prime Numbers between 25 and 50 are:')
for i in range(start,stop):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

Prime Numbers between 25 and 50 are:
29
31
37
41
43
47

### Exercise 12: Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
def fibonacci(n):
    a=0
    b=1
    if n==0:
        print(a)
    elif n==1:
        print(a)
        print(b)
    elif n>1:
        print(a)
        print(b)
        for i in range(n-2):
            c=a+b
            print(c)
            a=b
            b=c

fibonacci(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
fibonacci(5)

0
1
1
2
3

### Exercise 13: Find the factorial of a given number
Write a program to use the loop to find the factorial of a given number.

In [ ]:
def factorial(n):
    output=1
    while n>0:
        output*=n
        n-=1
    print(output)
factorial(5)

120

### Exercise 14: Reverse a given integer number
Number=76542

In [ ]:
number=76542
output=int(str(number)[::-1])
print(output)

24567

### Exercise 15: Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

### Exercise 16: Calculate the cube of all numbers from 1 to a given number
Write a program to rint the cube of all numbers from 1 to a given number

In [ ]:
def cube(n):
    for i in range(1,n+1):
        print(f'curret Number is :{i} and the cube is {i**3}')
cube(5)

curret Number is :1 and the cube is 1
curret Number is :2 and the cube is 8
curret Number is :3 and the cube is 27
curret Number is :4 and the cube is 64
curret Number is :5 and the cube is 125

### Exercise 17: Find the sum of the series upto n terms
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [ ]:
def number_series(n):
    output=0
    series=0
    for i in range(n):
        series=(series*10)+2
        output+=series
    print(series)
    print(output)
number_series(5)

22222
24690

### Exercise 18: Print the following pattern

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print(' ')
for a in range(5):
    for b in range(4-a):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## Python Functions Exercise

### Exercise 1: Create a function in Python
    
Write a program to create a function that takes two arguments, name and age, and print their value.

In [ ]:
def information(name,age):
    print('Name =',name)
    print('Age =',age)
information('Jeevan',24)

Name = Jeevan
Age = 24

### Exercise 2: Create a function with variable length of arguments

Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

In [ ]:
def variable_len_arg(*n):
    for i in n:
        print(i)
variable_len_arg(20,30,40)

20
30
40

In [ ]:
variable_len_arg(80,90)

80
90

### Exercise 3: Return multiple values from a function
Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [ ]:
def calculation(a,b):
    print('Addition =',a+b)
    print('Subtraction =',a-b)
calculation(40,10)

Addition = 50
Subtraction = 30

### Exercise 4: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [6]:
def show_employee(name,salary=175000):
    print('Name =',name)
    print('Salary =',salary)
show_employee('Adharsh',175000)

Name = Adharsh
Salary = 175000

In [ ]:
show_employee('monika')

Name = monika
Salary = 9000

### Exercise 5: Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
# outer function
def outer_func(a,b):

    # inner function
    def addition(a,b):
        return a+b

    # call inner function from outer function
    add = addition(a,b)
    # add 5 to the result
    return add +5

result=outer_func(5,10)
print(result)

20

### Exercise 6: Create a recursive function
Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself again and again.

In [ ]:
def recursive(num):
    if num:
        # call same function by reducing number by 1
        return num + recursive(num-1)
    else:
        return 0
result=recursive(10)
print(result)

55

In [ ]:
# By using different method
def recursive(n):
    sum=0
    while n>0:
        sum+=n
        n-=1
    print(sum)
recursive(10)

55

### Exercise 7: Assign a different name to function and call it through the new name
Below is the function display_student(name, age). Assign a new name show_student(name, age) to it and call it using the new name

In [7]:
def display_student(name,age):
    print('Name =',name)
    print('Age =',age)
show_student=display_student
show_student('Adharsh',26)

Name = Adharsh
Age = 26

### Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
output=[i for i in range(4,31) if i%2==0]
output

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Exercise 9: Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

In [ ]:
x = [4, 6, 8, 24, 12, 2]
max(x)

24

In [ ]:
# Without using built in function
x = [4, 6, 8, 24, 12, 2]
maximum=0
for i in x:
    if i>maximum:
        maximum=i
print(maximum)

24

## Python String Exercise

### In this Program you will learn string operations, manipulations,slicing, and string functions

### Exercise 1A: Create a string made of the first, middle and last character
Write a program to create a new string made of an input string’s first, middle, and last character.

In [8]:
def fml(name):
    print(name[0]+name[len(name)//2]+name[-1])
fml('Edunet')
fml('Edunet')

Ent
Ent

### Exercise 1B: Create a string made of the middle three characters
Write a program to create a new string made of the middle three characters of an input string.

In [ ]:
def mid(name):
    print(name[len(name)//2-1]+name[len(name)//2]+name[len(name)//2+1])

mid('JhonDipPeta')
mid('JaSonAy')

Dip
Son

### Exercise 2: Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

In [ ]:
s1 = "Ault"
s2 = "Kelly"
s3 = s1[:len(s1)//2]+s2+s1[len(s1)//2:]
s3

'AuKellylt'

### Exercise 3: Create a new string made of the first, middle, and last characters of each input string
Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

In [ ]:
s1 = "America"
s2 = "Japan"
output=s1[0]+s2[0]+s1[len(s1)//2]+s2[len(s2)//2]+s1[-1]+s2[-1]
print(output)

AJrpan

### Exercise 4: Arrange string characters such that lowercase letters should come first
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

In [ ]:
str1='ImarTicUS'
output=''
for i in str1:
    if i.islower():
        output+=i
for j in str1:
    if j.isupper():
        output+=j
print(output)

maricITUS

In [ ]:
str1='ImarTicUS'
output=''
for i in str1:
    if i.islower():
        output+=i
for j in str1:
    if j.isupper():
        output+=j
print(output)

maricITUS

In [ ]:
# You can perform the same operation in different way
str1='ImarTicUS'
lower=[]
upper=[]
for i in str1:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
output=' '.join(lower+upper)
print(output)

m a r i c I T U S

### Exercise 5: Count all letters, digits, and special symbols from a given string

str1 = "P@#yn26at^&i5ve"

In [ ]:
str1 = "P@#yn26at^&i5ve"
digits=0
letters=0
special_symbols=0

for i in str1:
    if i.isdigit():
        digits+=1
    elif i.isalpha():
        letters+=1
    else:
        special_symbols+=1
print('digits =',digits)
print('Letters =',letters)
print('Special_symbols =',special_symbols)

digits = 3
Letters = 8
Special_symbols = 4

In [ ]:
str1 = "P@#yn26at^&i5ve"
digit=0
alpha=0
symbols=0
for i in str1:
    if i.isdigit():
        digit+=1
    elif

### Exercise 6: Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [ ]:
s1='Abc'
s2='Xyz'
s3=dict(zip(s1,s2[::-1]))
s3

{'A': 'z', 'b': 'y', 'c': 'X'}

### Exercise 7: String characters balance Test
Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter

In [ ]:
def check_bal(a,b):
    flag=True
    for i in a:
        if i in b:
            continue
        else:
            flag = False
    return flag
print(check_bal('is','Imarticus'))
print(check_bal('Jea','Imarticus'))

True
False

### Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
Write a program to find all occurrences of “USA” in a given string ignoring the case.

In [ ]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str1=str1.lower()
count=str1.count('usa')
print('The USA count is :', count)

The USA count is : 2

In [ ]:
str1

"welcome to usa. usa awesome, isn't it?"

### Exercise 9: Calculate the sum and average of the digits present in a string
Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

In [ ]:
str1 = "PYnative29@#8496"
num=[]
for i in str1:
    if i.isdigit():
        num.append(int(i))
print('Sum is = ',sum(num), 'Average is',sum(num)/len(num))

Sum is =  38 Average is 6.333333333333333

### Exercise 10: Write a program to count occurrences of all characters within a string

In [ ]:
str1 = "Apple"
dic={}
for i in str1:
    dic[i]=str1.count(i)
print(dic)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
str1='Apple'
for i in str1:
    print(i,str1.count(i))

A 1
p 2
p 2
l 1
e 1

In [9]:
str1 = 'Edunet_FOundation'
dic={}
for i in str1.lower():
    dic[i]=str1.count(i)
print(dic)

{'e': 1, 'd': 2, 'u': 2, 'n': 3, 't': 2, '_': 1, 'f': 0, 'o': 1, 'a': 1, 'i': 1}

### Exercise 11: Reverse a given string

In [10]:
str1='Edunet'
print(str1[::-1])

tenudE

### Exercise 12: Find the last position of a given substring
Write a program to find the last position of a substring “Emma” in a given string.

In [ ]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(f'Last occurrence of Emma starts at index {str1.rfind("Emma")}')

Last occurrence of Emma starts at index 43

In [ ]:
str1.find('Emma')

0

### Exercise 13: Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.

In [11]:
str1 = 'Adharsh-is-a-data-scientist'
for i in str1.split('-'):
    print(i)

Adharsh
is
a
data
scientist

In [12]:
a=str1.split('-')
for i in a:
    print(i)

Adharsh
is
a
data
scientist

### Exercise 14: Remove empty strings from a list of strings

In [ ]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
for i in str_list:
    if i:
        print(i)

Emma
Jon
Kelly
Eric

In [ ]:
# you can get the same output in different way

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
output=list(filter(None,str_list))
print(output)

['Emma', 'Jon', 'Kelly', 'Eric']

### Exercise 15: Remove special symbols / punctuation from a string

In [ ]:
import string
str1 = "/*Jon is @developer & musician"
print('Original String is :',str1)
new_str=str1.translate(str.maketrans('','',string.punctuation))
print(new_str)

Original String is : /*Jon is @developer & musician
Jon is developer  musician

### Exercise 16: Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'

In [ ]:
str1 = 'I am 25 years and 10 months old'
for item in str1:
    for i in item:
        if i.isdigit():

            print(f'the integers are {i}')

the integers are 2
the integers are 5
the integers are 1
the integers are 0

In [ ]:
str1 = 'I am 25 years and 10 months old'
for item in str1:
    for i in item:
        if i.isdigit():
            print (i)

2
5
1
0

In [ ]:
str1 = 'I am 25 years and 10 months old'
output=''
for i in str1:
    if i.isdigit():
        output+=i
print(int(output))

2510

### Exercise 17: Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.

str1 = "Jeevan25 is Data scientist50 and AI Expert"

In [13]:
str1 = "Adharsh26 is Data scientist50 and AI Expert"
for item in str1.split():
    if any(i.isalpha() for i in item) and any(i.isdigit() for i in item):
        print(item)

Adharsh26
scientist50

In [14]:
str1 = "Adharsh25 is Data scientist50 and AI Expert"
for item in str1.split():
    for i in item:
        if i.isalpha() and i.isdigit():
            print(f'{item}')

### Exercise 18: Replace each special symbol with # in the following string

str1 = '/*Jon is @developer & musician!!'

In [ ]:
import string
str1 = '/*Jon is @developer & musician!!'
print('The Original String is =',str1)

# Replace Punctuations with #
replace_char='#'

for i in string.punctuation:
    str1=str1.replace(i,replace_char)
print('The string after replacement =',str1)

The Original String is = /*Jon is @developer & musician!!
The string after replacement = ##Jon is #developer # musician##

## Python Data Structure Exercise

### Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second
Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

l1 = [3, 6, 9, 12, 15, 18, 21]

l2 = [4, 8, 12, 16, 20, 24, 28]

In [ ]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []
for i in l1[1::2]:
    l3.append(i)
for j in l2[::2]:
    l3.append(j)
print(l3)

[6, 12, 18, 4, 12, 20, 28]

### Exercise 2: Remove and add item in a list
Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

list1 = [54, 44, 27, 79, 91, 41]

In [ ]:
list1 = [54, 44, 27, 79, 91, 41]
print('Before removing element at index 4 ',list1)
a=list1.pop(4)
print('After removing element at index 4', list1)
list1.insert(1,a)
list1.append(a)
print('After inserting in to 2nd and last index element',list1)

Before removing element at index 4  [54, 44, 27, 79, 91, 41]
After removing element at index 4 [54, 44, 27, 79, 41]
After inserting in to 2nd and last index element [54, 91, 44, 27, 79, 41, 91]

In [ ]:
a=list1.remove(91)
a

ValueError: list.remove(x): x not in list

### Exercise 3: Slice list into 3 equal chunks and reverse each chunk

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [ ]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunk1=sample_list[0:len(sample_list)//3]
print('chunk1= ',chunk1)
print('After Reversing it =',chunk1[::-1])
chunk2=sample_list[len(sample_list)//3:len(sample_list)//3+len(sample_list)//3]
print('chunk2=',chunk2)
print('After Reversing it =',chunk2[::-1])
chunk3=sample_list[len(sample_list)//3+len(sample_list)//3:]
print('chunk3=',chunk3)
print('After Reversing it =',chunk3[::-1])

chunk1=  [11, 45, 8]
After Reversing it = [8, 45, 11]
chunk2= [23, 14, 12]
After Reversing it = [12, 14, 23]
chunk3= [78, 45, 89]
After Reversing it = [89, 45, 78]

### Exercise 4: Count the occurrence of each element from a list
Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
dic={}
for i in sample_list:
    dic[i]=sample_list.count(i)
print('Printing count of each item ',dic)

Printing count of each item  {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
dic={}
for i in sample_list:
    dic[i]=sample_list.count(i)
    print(dic)

{11: 2}
{11: 2, 45: 3}
{11: 2, 45: 3, 8: 1}
{11: 2, 45: 3, 8: 1}
{11: 2, 45: 3, 8: 1, 23: 2}
{11: 2, 45: 3, 8: 1, 23: 2}
{11: 2, 45: 3, 8: 1, 23: 2}
{11: 2, 45: 3, 8: 1, 23: 2}
{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

### Exercise 5: Create a Python set such that it shows the element from both lists in a pair

first_list = [2, 3, 4, 5, 6, 7, 8]

second_list = [4, 9, 16, 25, 36, 49, 64]

In [ ]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
print('Result is ',set(zip(first_list,second_list)))

Result is  {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

### Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

first_set = {23, 42, 65, 57, 78, 83, 29}

second_set = {57, 83, 29, 67, 73, 43, 48}

In [ ]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
intersection=first_set.intersection(second_set)
print('Intersection is ',intersection)
rce=first_set-second_set
print('First Set after removing common element',rce)

Intersection is  {57, 83, 29}
First Set after removing common element {65, 42, 78, 23}

### Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set
first_set = {27, 43, 34}

second_set = {34, 93, 22, 27, 43, 53, 48}

In [ ]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

print('First Set ',first_set)
print('Second Set ',second_set)
print()
print('First set is subset of second set -',first_set.issubset(second_set))
print('Second set is subset of First set -',second_set.issubset(first_set))
print()
print('First Set is superset of Second set -',first_set.issuperset(second_set))
print('Second Set is superset of first set -',second_set.issuperset(first_set))
print()
if first_set.issubset(second_set):
    first_set.clear()
if second_set.issubset(first_set):
    second_set.clear()

print('First Set', first_set)
print('Second Set', second_set)

First Set  {27, 34, 43}
Second Set  {48, 34, 53, 22, 27, 43, 93}

First set is subset of second set - True
Second set is subset of First set - False

First Set is superset of Second set - False
Second Set is superset of first set - True

First Set set()
Second Set {48, 34, 53, 22, 27, 43, 93}

### Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list
    
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]

sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

In [ ]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
new_roll_number=[]
for i in sample_dict.values():
    if i in roll_number:
        new_roll_number.append(i)
print("After removing unwanted elements from list =",new_roll_number)

After removing unwanted elements from list = [47, 69, 76, 97]

In [ ]:
# you can write the same by using list comprehension
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
roll_number= [i  for i in roll_number if i in sample_dict.values()]
print('After removing unwanted elements from list = ',roll_number)

After removing unwanted elements from list =  [47, 69, 76, 97]

### Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [ ]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
output=[]
for i in speed.values():
    output.append(i)
list(set(output))

[44, 47, 52, 53, 54]

### Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

In [ ]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
print('Original List ',sample_list)
print('Unique items ',list(set(sample_list)))
tup=tuple(list(set(sample_list)))
print('tuple ',tup)
print('min :',min(tup))
print('max :',max(tup))

Original List  [87, 45, 41, 65, 94, 41, 99, 94]
Unique items  [65, 99, 41, 45, 87, 94]
tuple  (65, 99, 41, 45, 87, 94)
min : 41
max : 99

## Python List Exercise
you will learn
1. list operations and manipulations
2. list functions
3. list slicing
4. list comprehension

### Exercise 1: Reverse a list in Python
list1 = [100, 200, 300, 400, 500]

In [ ]:
list1 = [100, 200, 300, 400, 500]
print('Output =',list1[::-1])

Output = [500, 400, 300, 200, 100]

### Exercise 2: Concatenate two lists index-wise
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
output=[i+j for i,j in zip(list1,list2)]
print(output)

['My', 'name', 'is', 'Kelly']

In [ ]:
zip(list1,list2)

In [ ]:
list(zip(list1,list2))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Ke', 'lly')]

In [ ]:
list1=[12,23,34,21]
list2=[14,25,23,24]
output=[i+j for i,j in list(zip(list1,list2))]
output

[26, 48, 57, 45]

In [ ]:
list1.union(list2)

AttributeError: 'list' object has no attribute 'union'

### Exercise 3: Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
output=[i**2  for i in numbers]
print(output)

[1, 4, 9, 16, 25, 36, 49]

### Exercise 4: Concatenate two lists in the following order

In [ ]:
result=[]
for i in list1:
    for j in list2:
        result.append(i+j)
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# you can perform the same by using list comprehension
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
output=[i+j  for i in list1 for j in list2]
print(output)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

### Exercise 5: Iterate both lists simultaneously
Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1,list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

### Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

# remove None from list1 and convert result into list
output= list(filter(None,list1))
print(output)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
for i in list1:
    if i=='':
        list1.remove(i)

In [ ]:
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
list1

['Mike', 'Emma', 'Kelly', '', 'Brad']

### Exercise 7: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### Exercise 8: Extend nested list by adding the sublist
You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

sub list to add

sub_list = ["h", "i", "j"]

expected output =['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### Exercise 9: Replace list’s item with new value if found
You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
ind=list1.index(20)
list1.insert(ind,200)
list1

[5, 10, 15, 200, 20, 25, 50, 20]

### Exercise 10: Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
output=[]
for i in list1:
    if i==20:
        continue
    else:
        output.append(i)
print(output)

[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
output=[]
for i in list1:
    if i==20:
        continue
    else:
        output.append(i)
output

[5, 15, 25, 50]

In [ ]:
output=[]
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i!=20:
        output.append(i)
    else:
        print('')
print(output)

[5, 15, 25, 50]

In [ ]:
def sum(a):
    total=0
    for i in a:
        total+=i
    print(total)

In [ ]:
a=[2,3,4,5,6]
sum(a)

20

In [ ]:
def even(a):
    even_numbers=[]
    for i in a:
        if i%2==0:
            even_numbers.append(i)
        else:
            continue
    print( even_numbers)

In [ ]:
a=[23,3,4,2,34,6,3,5635,346,56,78,89]
even(a)

[4, 2, 34, 6, 346, 56, 78]

In [ ]:
def string(a):
    string5=[]
    for i in a:
        if len(i)>5:
            string5.append(i)
        else:
            continue
    print(string5)

In [ ]:
a=['adharsh','ram','raju','kanmani','namitha']
string(a)

['adharsh', 'kanmani', 'namitha']

In [ ]:
def combinaton(a,b):

## Python Dictionary Exercise

You will learn

1. Dictionary operations and manipulations
2. Dictionary functions
3. Dictionary Comprehension

### Exercise 1: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
output= dict(zip(keys,values))
print(output)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Exercise 2: Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}      
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Exercise 3: Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [ ]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}
sampleDict['class']['student']['marks']['history']

80

### Exercise 4: Initialize dictionary with default values
In Python, we can initialize the keys with the same values.

employees = ['Kelly', 'Emma']     
defaults = {"designation": 'Developer', "salary": 8000}

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

result=dict.fromkeys(employees,defaults)
print(result)

# Individual Data
print(result['Kelly'])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

### Exercise 5: Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

Keys to extract  
keys = ["name", "salary"]

In [ ]:
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
keys = ["name", "salary"]
output={i:sample_dict[i] for i in keys}

output

{'name': 'Kelly', 'salary': 8000}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

output= {i:j  for i,j in sample_dict.items()  if i in keys}
print(output)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
# You can write the same in much more simpler way
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

output={i:sample_dict[i]  for i in keys}
output

{'name': 'Kelly', 'salary': 8000}

In [ ]:
sample_dict["age"]

25

### Exercise 6: Delete a list of keys from a dictionary

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

Keys to remove  
keys = ["name", "salary"]

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for i in keys:
    sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [ ]:
#  Will perform the same tasks using dictionary comprehension

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

output= {i:sample_dict[i]  for i in sample_dict.keys()-keys}
print(output)

{'city': 'New york', 'age': 25}

### Exercise 7: Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')
else:
    print('200 not present in a dict')

200 present in a dict

### Exercise 8: Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [ ]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }

In [ ]:
sample_dict.pop('city')

'New york'

In [ ]:
sample_dict['location']='new york'

In [ ]:
sample_dict

{'name': 'Kelly', 'age': 25, 'location': 'new york', 'income': 8000}

In [ ]:
sample_dict['income']=sample_dict.pop('salary')

In [ ]:
sample_dict['salary'] = 85000

In [ ]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 85000, 'city': 'New york'}

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### Exercise 9: Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [ ]:
sample_dict = {
  'Physics': 45,
  'Math': 65,
  'history': 75
}

print(min(sample_dict,key=sample_dict.get))

Physics

### Exercise 10: Change value of a key in a nested dictionary
Write a Python program to change Brad’s salary to 8500 in the following dictionary.

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},   
    'emp2': {'name': 'Emma', 'salary': 8000},    
    'emp3': {'name': 'Brad', 'salary': 500}}

In [ ]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}}

sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

## Python Set Exercise
Set in Python is an unordered collection of items. Every item is unique in it. i.e., the set doesn’t allow duplicates.

### Exercise 1: Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.

sample_set = {"Yellow", "Orange", "Black"}      
sample_list = ["Blue", "Green", "Red"]

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

### Exercise 2: Return a new set of identical items from two sets

set1 = {10, 20, 30, 40, 50}     
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

### Exercise 3: Get Only unique items from two sets
Write a Python program to return a new set with unique items from both sets by removing duplicates.

set1 = {10, 20, 30, 40, 50}    
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.copy()
set3.update(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#  You try in different way
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

### Exercise 4: Update the first set with items that don’t exist in the second set
Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

set1 = {10, 20, 30}   
set2 = {20, 40, 50}

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference(set2)  # if you just write difference it won't affect the original set but if you use difference_update it will affect the original set
set1.difference_update(set2)
print(set1)

{10, 30}

### Exercise 5: Remove items from the set at once
Write a Python program to remove items 10, 20, 30 from the following set at once.

set1 = {10, 20, 30, 40, 50}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

### Exercise 6: Return a set of elements present in Set A or B, but not both

set1 = {10, 20, 30, 40, 50}   
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

### Exercise 7: Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}  
set2 = {60, 70, 80, 90, 10}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Will check if any of the element present in both the set or not using isdisjoint() method
# isdisjoint() returns True if none of the items are present in both sets otherwise it returns false

if set1.isdisjoint(set2):
    print('Two sets have no items in common')
else:
    print('Two sets have items in common')
    print(set1.intersection(set2))

Two sets have items in common
{10}

### Exercise 8: Update set1 by adding items from set2, except common items

set1 = {10, 20, 30, 40, 50}   
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

### Exercise 9: Remove items from set1 that are not common to both set1 and set2

set1 = {10, 20, 30, 40, 50}    
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
set1

{30, 40, 50}

## Python Tuple Exercise

## Exercise 1: Reverse the tuple

tuple1 = (10, 20, 30, 40, 50)

In [ ]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

### Exercise 2: Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

### Exercise 3: Create a tuple with single item 50

In [ ]:
tup=(50,)
print(tup)
type(tup)

(50,)

tuple

### Exercise 4: Unpack the tuple into 4 variables
Write a program to unpack the following tuple into four variables and display each variable.

tuple1 = (10, 20, 30, 40)

In [ ]:
tuple1 = (10, 20, 30, 40)

# unpack tuple into 4 variables
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Exercise 5: Swap two tuples in Python

tuple1 = (11, 22)       
tuple2 = (99, 88)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
print('Before')
print('tuple 1 =',tuple1)
print('tuple 2 =',tuple2)
tuple1,tuple2=tuple2,tuple1
print('After')
print('tuple 1 =',tuple1)
print('tuple 2 =',tuple2)

Before
tuple 1 = (11, 22)
tuple 2 = (99, 88)
After
tuple 1 = (99, 88)
tuple 2 = (11, 22)

### Exercise 6: Copy specific elements from one tuple to a new tuple
Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

### Exercise 7: Modify the tuple
Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

tuple1 = (11, [22, 33], 44, 55)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

### Exercise 8: Sort a tuple of tuples by 2nd item

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [ ]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1),key=lambda x:x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### Exercise 9: Counts the number of occurrences of item 50 from a tuple

tuple1 = (50, 10, 60, 70, 50)

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

### Exercise 10: Check if all items in the tuple are the same

tuple1 = (45, 45, 45, 45)

In [ ]:
def check(tuple1):
    return all(i == tuple1[0]  for i in tuple1)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

## Pattern Matching

### 1. Print the following pattern

  *
 * *
* * *
 * *
  *

In [ ]:
num=int(input('Enter the number of rows'))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=' ')
    for k in range(0,i+1):
        print('*',end=' ')
    print()
for a in range(1,num):
    for j in range(a):
        print(end=' ')
    for k in range(num-a):
        print('*',end=' ')
    print()

Enter the number of rows3
  *
 * *
* * *
 * *
  *

### 2. Print the following Pattern

    *
   ***
  *****
 *******
*********

In [ ]:
rows=int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(rows-i-1):
        print(end=' ')
    for k in range((i*2)+1):
        print('*',end='')
    print('')

Enter the number of rows5
    *
   ***
  *****
 *******
*********

### 3. Print the following Pattern

    1
   123
  12345
 1234567
123456789

In [ ]:
rows=int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(rows-i-1):
        print(end=' ')
    for k in range((i*2)+1):
        print(k+1,end='')
    print('')

Enter the number of rows5
    1
   123
  12345
 1234567
123456789

### 4. Print the following Pattern

    1
   222
  33333
 4444444
555555555

In [ ]:
rows=int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(rows-i-1):
        print(end=' ')
    for k in range((i*2)+1):
        print(i+1,end='')
    print('')

Enter the number of rows5
    1
   222
  33333
 4444444
555555555

### 5. Print the following Pattern

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5):
    for j in range(i+1):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *

### 6. Print the following Pattern

*
* * *
* * * * *

In [ ]:
for i in range(3):
    for j in range(i*2+1):
        print('*',end=' ')
    print(' ')

*
* * *
* * * * *

### 7. Print the following Pattern

   *
  * *
 * * *
* * * *

In [ ]:
rows=int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(rows-i-1):
        print(end=' ')
    for k in range(i+1):
        print('*',end=' ')
    print('')

Enter the number of rows5
    *
   * *
  * * *
 * * * *
* * * * *

### 8. Print the following pattern

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
rows=int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(i):
        print(end=' ')
    for k in range(rows-i):
        print('*',end=' ')
    print('')

Enter the number of rows5
* * * * *
 * * * *
  * * *
   * *
    *

### 9. Print the following Pattern

a
b c
d e f
g h i j
k l m n o

In [ ]:
ord('a')

97

In [ ]:
chr(97)

'a'

In [ ]:
a=ord('a')
rows=int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(i+1):
        print(chr(a),end=' ')
        a+=1
    print('')

Enter the number of rows5
a
b c
d e f
g h i j
k l m n o

In [ ]:
Example 1:

Input: s = "Let's take LeetCode contest"
Output: "s'teL ekat edoCteeL tsetnoc"
Example 2:

Input: s = "God Ding"
Output: "doG gniD"

In [ ]:
a = "Let's take LeetCode contest"
for i in a.split():
    print(i[::-1],end=' ')

s'teL ekat edoCteeL tsetnoc

In [ ]:
' '.join([i[::-1]  for i in a.split()])

"s'teL ekat edoCteeL tsetnoc"